@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

body {
  background-color: #cfe795;
}

h1 {
  color:#6e7e85;
  text-align: center;
  background-color: #add2c2;
  padding: 20px;
}

.App{
  font-family: Asap;
}

.navbar {
  padding: 20px;
  margin: auto;
  background-color: #a7d3a6;
  margin:0 auto;
  float:none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 16px;
  text-decoration: none;
}

.navbar img{
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f7ef81;
}

.column {
  width: 35%;
  padding: 10px 10px;
  float:none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin: 0 5px;
  float:none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home a:visited, a:hover, a:active, a:link {
  color:#6e7e85;
  text-decoration: none;

}

.row.img {
  float:left;
  padding: 10px;
}

.row p {
  float:right;
}

.aboutus {
  background-color: #add2c2;
}